html,
body {
    background: #f3f3f3 !important;
}

.button.left-margin, .list.left-margin, .buttons.left-margin, .segment.left-margin, .form.left-margin {
    margin-left: 2rem;
}
.button.right-margin, .list.right-margin, .buttons.right-margin, .segment.right-margin, .form.right-margin {
    margin-right: 2rem;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.float-left {
    float: left
}

.segment.menu-children {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.pushable.full-size, .pusher.full-size {
    min-height: 100vh;
}

.menu.no-bottom-margin {
    margin-bottom: 0;
}

.button.full-width, .checkbox.full-width {
    width: 100%;
}

.divider.no-top-bottom-margin {
    margin-bottom: 0;
    margin-top: 0;
}

.description.padded {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.datePicker {
    width: 100%;
    margin-bottom: 0.7rem;
}

.icon.show-on-hover {
    display: none;
}

.hoverable:hover .icon.show-on-hover {
    display: inline-block;
}

.negativeThick {
    font-weight: bold;
    color: red;
}

.positiveThick {
    font-weight: bold;
    color: green;
}