html,
body {
    background: #f3f3f3 !important;
}

.button.left-margin, .list.left-margin {
    margin-left: 2rem;
}
.button.right-margin, .list.right-margin {
    margin-right: 2rem;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.float-left {
    float: left
}
